{% extends "base.html" %}
{% load static %}


{% block content %}

<h1 class="text-center heading-small">Customer Reviews</h1>

<div class="row g-0">
    <div class="col-12 col-md-6 offset-md-3">
        {% if user.is_authenticated %}
        <a href="{% url 'add_review' %}" class="btn btn-success btn-sm add-review">Add A Review</a>
    {% endif %}
    </div>
</div>


  

{% for review in reviews_list %}
<div class="card border-0">
    <div class="card-body border-1">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 border border-light bg-light position-relative">
                    <p class="fs-5 fw-bolder col-md-10 title-text"> {{ review.title }}</p>
                    <p class="pt-2 text-info review-posted-by"><i class="fa-solid fa-user"></i> {{ review.posted_by }}</p>
                    <div class="star pt-1">
                      <!-- shows review stars out of 5 -->
                      {% if review.rating == '1' %}
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                      {% elif review.rating == '2'  %}
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                      {% elif review.rating == '3'  %}
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                      {% elif review.rating == '4'  %}
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                      {% else  %}
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                      {% endif %}
                    </div>
                    <p class="mb-4 pt-2 review-body">{{ review.body }}</p>
                    <p class="text-muted m-0 pb-2 text-small">Posted on {{ review.date_added }}</p>
                    <!-- edit/delete review -->
                    {% if user.is_authenticated and user == review.posted_by %}  
                      <div class="review-update">
                        <a href="{% url 'edit_review' review.pk %}" class="btn btn-xs btn-info" >Edit</a>
                        <button type="button" class="btn btn-xs btn-warning text-dark" data-bs-toggle="modal" data-bs-target="#deleteReviewModal">Delete</button> 
                      </div>
                    {% endif %}

                    <!-- This Modal is from bootstrapmodals page-->
                    <div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="deleteReviewModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="deleteReviewModalLabel">Delete Review</h5>
                                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Are you sure you want to delete the review you posted on {{ review.date_added }}?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                  <form action="{% url 'delete_review' pk=review.pk %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" value="Confirm">Yes</button>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}