{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.product.image %}
                                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                                            {% csrf_token %}
                            
                                            <div class="col-md-4 col-6 mb-3">
                                                <div class="input-group mb-3 input-group-{{ item.item_id }}" style="width: 150px;">
                                                  <button class="btn btn-white btn-sm border border-secondary px-3 decrement" type="button" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" data-mdb-ripple-color="dark">
                                                    <i class="fas fa-minus"></i>
                                                  </button>
                                                  <input type="number" class="form-control text-center border border-secondary quantity_num qty-font" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" name="quantity" value="{{ item.quantity }}" min="1" max="99" aria-label="Quantity button" />
                                                  <button class="btn btn-white btn-sm border border-secondary px-3 increment" type="button" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}" data-mdb-ripple-color="dark">
                                                    <i class="fas fa-plus"></i>
                                                  </button>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info ms-3"><small>Update</small></a>
                                        <a class="remove-item text-danger ms-2" id="remove_{{ item.item_id }}"><small>Remove</small></a> 
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            
                            {% endfor %}
                        </table>
                    </div>
                        <div class="row">
                            <div class="col-3 offset-9 mb-4">
                                <div class="pt-5 text-right">
                                    <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-warning shadow-0 rounded-0">Back </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-success rounded-0 btn">Secure Checkout <i class="fas fa-lock"></i></a>
                                </div>
                            </div>
                        </div>
                {% else %}
                    <p class="lead mb-5">Your Cart is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-warning shadow-0">Back </a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}




{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

     // Remove item and reload on click
     $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken,};
        
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

   
</script>
{% endblock %}