<script>

    let plus = document.querySelectorAll('.increment');    
    let minus = document.querySelectorAll('.decrement');
    let quantity = document.querySelectorAll('.quantity_num');


    for (let i = 0; i < plus.length; i++) {
        plus[i].addEventListener('click', ()=>{
            quantity[i].value++;
            minus.disabled = false;
            
        });
    }

    for (let i = 0; i < minus.length; i++) {
        minus[i].addEventListener('click', ()=>{
            if(quantity[i].value <= 1){
                minus.disabled = true;
            }
            else{

                quantity[i].value--;
                
            }
        });
    }


    
</script>