@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ysabeau&display=swap');


/* ----this was added to keep footer at the bottom credit 30secondsofcode */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'montserrat', sans-serif;
    
}

footer {
    margin-top: auto;
  }
/* ---------------------------------------------------------------- */



.center {
    margin: 0 auto;
}

/* index page */
.logo {
    font-family: Ysabeau, sans-serif;
    font-style: italic;
    margin-left: 20px;
    
}

.homepage-image {
    width: 100%;
    height: 70vh;
    
}


.shop-now-button{
    position: absolute;
    bottom: 25%;
    left: 25%;
}


/* products card */
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover; 
    
}

/* product detail image */
.img-details {
    width: 100%;
    height: 50vh;
    object-fit: cover; 
}

/* product admin form */
#product-admin .form-control {
    border-bottom: 1px solid black;
}

#product-admin .select {
    border-bottom: 1px solid black;
}

/* reviews */
#review-form .form-control, .select {
    border-bottom: 1px solid black;
}

.star {
    position: absolute;
    top: 0;
    right: 5px;
}

.review-update {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* icon */
.text-icon {
    color: #1e3050;
}

/* Delete and edit comment */
.edit-comment {
    position: absolute;
    top: 5px;
    right: 25px;
}

.delete-comment {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* extra small button */
.btn-xs {
    padding: .35rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: 0;
}

.text-date {
    font-size: small;
}

/* mailchimp  */
#mc_embed_signup {
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;
    
}




/* footer */
footer i {
    font-size: x-large;
}

.fa-facebook {
    color: #1bbee3;
    
}

.fa-instagram {
    color: #cf8f9b;
    text-shadow: 1px 1px 5px #c78f9a
}


.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 991px) {
    .navbar a, .navbar form {
        margin-left: 3px !important;
    }

}

/* extra small screens */
@media screen and (max-width: 420px) {

    /* reviews */
    .heading-small {
        font-size: 1.5em !important;

    }

    .title-text {
        font-size: medium !important;
        margin-top: 8%;
    }

    .text-small {
        font-size: x-small;

    }
   

}