<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-success logo {% if 'home' in request.path %} active {% endif %} " href="{% url 'home' %}">Treats<br>Sweet<br> Shop</a>
    <button class="navbar-toggler me-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav center">
        <!-- for some reason the active class would not world like the other using 'home' in request.path so i had to use the below tags that i found on stack overflow  -->
        {% with request.resolver_match.url_name as url_name %}
        <a class="nav-item nav-link {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a>
        {% endwith %} 

        <!-- products dropdown -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if 'products' in request.path %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?category=jellies_candy">Jellies & Candy</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=chocolate">Chocolate</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=toffee_fudge">Toffee & Fudge</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=liquorice">Liquorice</a>
                <a class="dropdown-item" href="{% url 'products' %}">All</a>
              </div>
          </li>
        </ul>

        <a class="nav-item nav-link {% if 'blog' in request.path %} active {% endif %}" href="{% url 'blog' %}">Blog</a>
        <a class="nav-item nav-link {% if 'reviews' in request.path %} active {% endif %}" href="{% url 'reviews' %}">Reviews</a>
      </div>

      <!-- search -->
      <div class="col-11 col-lg-2 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our Site">
                <div class="input-group-append">
                    <button class="form-control btn btn-black border border-black rounded-0" type="submit" aria-label="search button">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>

      <!-- profile dropdown -->
      <ul class="navbar-nav mr-auto ps-md-5 me-md-4">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownprofile" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownprofile">
                {% if user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                  {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                {% endif %}
              </div>
                
          </li>
      </ul>
      <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-item nav-link me-md-5 ps-0 ps-md-2" href="{% url 'view_cart' %}">
        <i class="fa-solid fa-bag-shopping mt-md-4"></i>
        <p class="my-0">
          {% if grand_total %}
              €{{ grand_total|floatformat:2 }}
          {% else %}
              €0
          {% endif %}
      </p>
      </a>
    </div>
    
</nav>