{% extends "base.html" %}
{% load static %}


{% block content %}



    <div class="row g-0">
        <div class="col-10 offset-1">
                <div class="row mt-1 mb-2">
                    {% if request.user.is_superuser %}
                        <div>
                            <a href="{% url 'add_post' %}" class="btn btn-success btn-sm mb-2">Add Post</a>
                        </div>
                        {% endif %}

                    {% for post in post_list %}
                    <div class="col-12 col-md-6 col-lg-4 mb-2">
                        
                        <div class="card h-100">
                            
                            <img src="{{ post.image.url }}" class="card-img-top" alt="blog image">
                            <div class="card-body text-center">
                                <p class="card-text"> {{ post.title }}</p>
                                <p class="card-text text-muted text-date"> Posted on {{ post.posted_on }} </p>
                                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary"> Read</a>
                            </div>
                        
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}