{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row g-0 mx-1">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4" >
        
        {% if user.is_authenticated %}
        <div class="row g-0 mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Edit Your Comment:</h5>
                        <p>By: {{ user.username }}</p>
                        <form method="post">
                            {{ form | crispy }}
                            {% csrf_token %}
                            <div class="d-flex justify-content-end mb-4">
                                <a href="javascript:history.go(-1)" class="btn btn-warning mt-2 me-1">Cancel</a>
                                <button type="submit" aria-label="Post Comment" class="btn btn-primary mt-2">Post</button>
                            </div>
                        </form>
        {% endif %}
                    </div>       
                </div>
            </div>
        </div>    
           
    </div>
</div>
    


{% endblock %}