{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">
  <div class="row g-0">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
          <div class="container my-5">
              {% if product.image %}
                  <img src="{{ product.image.url }}" class="img-details img-fluid detail-img" alt="{{ product.name }}">
              {% else %}
                  <img src="{{ MEDIA_URL }}noimage.png" class="img-details img-fluid detail-img" alt="{{ product.name }}">
              {% endif %}
          </div>
      </div>
    
      <div class="col-12 col-md-6 mt-5">
          <div class="mb-5 mt-md-4 ms-md-5">
              <h4 class="title text-dark"> {{ product.name }} </h4>
              <p class="h5 text-left mt-5">€{{ product.price }}</p>
              <p class="mt-3">{{ product.description }}</p>
              {% if product.category %}
              <p class="small mt-1 mb-0">
                  <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                  </a>
              </p>
              {% endif %}
              {% if request.user.is_superuser %}
                        <p class="small ms-3 mt-4">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </p>
                    {% endif %}

              <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}

                <div class="col-md-4 col-6 mb-3">
                    <label class="mb-2 mt-5 d-block">Quantity</label>
                    <div class="input-group mb-3" style="width: 140px;">
                      <button class="btn btn-white btn-sm border border-secondary px-3 decrement" type="button" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" data-mdb-ripple-color="dark">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input type="number" class="form-control text-center border border-secondary quantity_num qty-font" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" name="quantity" value="1" min="1" max="99" aria-label="Quantity button">
                      <button class="btn btn-white btn-sm border border-secondary px-3 increment" type="button" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}" data-mdb-ripple-color="dark">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                </div>
                  
                  


                <div class="col-12 mt-5">
                    <a href="{% url 'products' %}" class="btn btn-warning btn-sm shadow-0">Back </a>
                    <input type="submit" class="btn btn-primary btn-sm shadow-0"  value="Add to Cart">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">

              </form>
          </div>
        </div>
               
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}