{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="row">
    <div class="col-10 offset-1">
        <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-2">
                    <div class="card h-100">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="">
                        </a>    
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}"></a>
                            <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="">
                        </a>   
                        {% endif %}
                        <div class="card-body text-center">
                            <p class="card-text"> {{ product.name }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <p>€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

 



{% endblock %}
